.messages {
    height: 100%;
    padding: 20px;
    padding-bottom: 0;
    &--loading {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__wrapper {
        height: 60%;
        overflow: auto;
    }
}
