.add-dialog-form {
    .ant-form-item {
        margin-bottom: 0;
        &-label {
            line-height: inherit !important;
        }
    }
    &__create-group {
        margin-top: 30px;
    }
    &__create-btn {
        margin-top: 5px;
    }
}
